<%= form_for @url, remote: true do |f| %>
  <div class='small-12'>
    <%= f.label :long, 'Long URL' %>
    <%= f.url_field :long %>
  </div>

  <div class='small-12'>
    <%= f.submit t('forms.buttons.save'), class: 'button' %>
  </div>
<% end %>
