<% if @url.valid? %>
  var $add_another = $('<a></a>').addClass('button')
                                 .attr('href', '<%= new_url_path %>')
                                 .attr('data-remote', true)
                                 .text("<%= t('urls.add_another') %>"),

      $resultUrlTextField = $('<input></input>')
                              .attr('id', 'result_url')
                              .attr('readonly', 'readonly')
                              .attr('type', 'text')
                              .attr('value', '<%= @url.shortened %>');

  $('#shortened_url').html($resultUrlTextField)
                     .append($('<p></p>').html($add_another));

  $resultUrlTextField.click(function() { this.select(); });
<% else %>
  $('.alert-box').remove();
  $('#shortened_url').prepend(
    '<%= escape_javascript(render 'shared/errors', record: @url) %>'
  );
<% end %>
