<div id="shortened_url" class="row">
  <%= form_for @url, remote: true do |f| %>
    <div class='row'>
      <%= f.label :long, 'Long URL' %>
      <%= f.text_field :long %>
    </div>

    <div class='row'>
      <%= f.submit t('forms.buttons.save'), class: 'button' %>
    </div>
  <% end %>
</div>
